* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Caramel', cursive; */
    font-family: 'Great Vibes', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Great+Vibes&display=swap');